{
  "FakeRelayUrl": "https://${YOUR_FAKERELAY_HOST}",
  "FakeRelayApiKey": "${YOUR_FAKERELAY_KEY}",
  "Api": {
    "Url": "https://${YOUR_MASTODON_HOST}/api/",
    "Tokens": [
      {
        "Owner": "${ANYTHING_YOU_LIKE_PROBABLY_YOUR_MASTODON_USERNAME}",
        "Token": "${YOUR_MOAR_TOKEN}"
      }
    ]
  },
  "Instances": [ "mastodon.social" ]
}